body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
}

h1 {
    color: #333;
}

.animal-cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 150px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.animal-img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.animal-info {
    margin-top: 20px;
    text-align: left;
    background-color: #fafafa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#animal-name {
    font-size: 24px;
    font-weight: bold;
}

#animal-description,
#animal-habitat,
#animal-diet,
#animal-behavior {
    font-size: 18px;
    margin-top: 10px;
}


